<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1032586329839-s26bpm9378o2mgbm266f7ln14atd7kr1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032586329839-s26bpm9378o2mgbm266f7ln14atd7kr1</string>
	<key>API_KEY</key>
	<string>AIzaSyDo-3G5G0eEioWD0XJowUt2dPY7ADjXGCs</string>
	<key>GCM_SENDER_ID</key>
	<string>1032586329839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.cmlteam</string>
	<key>PROJECT_ID</key>
	<string>ct-mobile-89ded</string>
	<key>STORAGE_BUCKET</key>
	<string>ct-mobile-89ded.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032586329839:ios:7cf2dae5f1139eb1</string>
	<key>DATABASE_URL</key>
	<string>https://ct-mobile-89ded.firebaseio.com</string>
		<key>io.flutter.embedded_views_preview</key>
        <string>YES</string>
</dict>
</plist>